input, textarea{
	padding:8px;
	font-size:16px;
	border-radius:5px;
	border:1px solid #666;
}
.occup_class, .jobs_class{
    position: relative;
    width:920px;
    height:37px;
    top: 12px;
    border-radius:5px;
    border: 1px solid #666;
}
#occup,#jobs{
	font-size:16px;
	position:relative;
	left:7px;
	top:-11px;
}
body{
	width:1260px;
	margin:0 auto;
    background-color:#ececec;
}

.jobpost-subject{
	text-align:center;
	margin:50px 0px;
	font-size:40px;
	font-weight:bold;
}
span{
	font-size:30px;
	font-weight:400;
}
.jobpost-item{
	border-radius:5px;
	background-color:white;
	margin-top:15px;
	padding:15px;
	border:1px solid #d4d4d4;
	line-height:60px;
	margin-bottom:100px;
}
th{    
    padding-right:40px;
	font-weight:bold;
}
#sample4_roadAddress{
    width:500px;
	margin-top:10px;
}
.jobpost-confirm{
	text-align:center;
}
.jobpost-confirm button {
	text-align:center;
	background-color:#fff;
	cursor:pointer;
    margin-left: 40px;
    border-radius: 5px;
    width: 160px;
    height: 60px;
    font-size: 20px;
    margin-bottom: 100px;
}
.jobpost-select{
  font-size: 14px;
  color: #444;
  background-color: #fff;
  padding: 6px;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}
#modal_btn1, #modal_btn2, .jobpost-postcode{
	background-color:#d4d4d4;
	border-radius:0.5em;
	border:1px solid #aaa;
	font-size:15px;
	padding:12px;
	cursor:pointer;
}
.buttons-text{
	font-size:16px;
	margin-right:15px;
}
.buttons1-text{
	font-size:16px;
	margin-right:31px;
}
.buttons2-text{
	font-size:16px;
	margin-right:31px;
}
/*-------------------------------- 모달 -------------------------- */
   #conf1,#cancel1,#init1,#conf,#cancel,#init{
    padding:10px 20px;
    font-size:20px;
    background-color:#white;
    border:1px solid #aaa;
    border-radius:5px;
    }
    .modal_conf{
    	margin:15px 0px;
    }
    .modal_content{
    width:650px;
	margin-top:15px;
	padding:15px;
	border:1px solid #aaa;
	line-height:60px;
    }
    .modal_subject{
    	padding-top:10px;
    	font-size:30px;
    	font-weight:600;
    }
    .modal_body table{
    	margin-left:30px;
    }
	.modal_wrap, .modal_wrap1{
		display:none;
        border:1px solid #444 ;
        overflow:auto;
        width: 720px;
        height: 760px;
        position: fixed;
        top:35%;
        left:45%;
        text-align:center;
        margin: -250px 0 0 -250px;
        background-color:white;
        z-index: 2;
    }
    .black_bg, .black_bg1{
        display: none;
        position: fixed;
        content: "";
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0,0, 0.5);
        top:0;
        left: 0;
        z-index: 1;
    }
    .modal_close, .modal_close1{
        width: 26px;
        height: 26px;
        position: absolute;
        top: -30px;
        right: 0;
    }
    .modal_close> a, .modal_close1> a{
        display: block;
        width: 100%;
        height: 100%;
        background:url(https://img.icons8.com/metro/26/000000/close-window.png);
        text-indent: -9999px;
    }
	.modal_wrap a, .modal_wrap1 a{
		cursor: pointer;
	}


.dropdown .dropbtn , .dropdown_wa .dropbtn_wa, .dropdown_jw .dropbtn_jw {
	cursor: pointer;
	font-size: 16px;
	border: 1px solid #d4d4d4;
	outline: none;
	padding: 12px 14px;
	font-family: inherit;
	margin: 0;
	border-radius:5px;
}

.dropdown-content, .dropdown_wa-content, .dropdown_jw-content {
	display: none;
	position: absolute;
	width: 1280px;
}

.dropdown-content a, .dropdown_wa-content a, .dropdown_jw-content a{
    
	color: black;
	padding: 0px 30px;
	text-decoration: none;
}
.foot{
	background-color:white;
	width:70%;
	border: 1px solid #ccc;
}
#myDropdown a, #myDropdown_wa a, #myDropdown_jw a{
	cursor:pointer;
	margin-left:10px;
	padding:10px 30px;
	border: 1px solid #ccc;
	border-radius:5px;
}

.show {
	display: block;
}

* {
	box-sizing: border-box
}

body {
	font-family: "Lato", sans-serif;
}

/* Style the tab */
.tab {
	float: left;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 30%;
	height: 300px;
	overflow: auto;
}

/* Style the buttons inside the tab */
.tab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent ,.tabcontent_wa,.tabcontent_jw{
	float: both;
	padding: 0px 12px;
	border: 1px solid #ccc;
	background-color: white;
	border-left: none;
	width: 40%;
	height: 300px;
	overflow: auto;
}